.EscrowHistory{
    /*vars*/
    --height: 600px;

    /*styles*/
    width: 100%;
    height: var(--height);
    padding: 1px;

    background: var(--app-border-gradient);
    border-radius: var(--def-radius);
    color: var(--bs-white);
}

.EscrowHistory .inner{
    width: 100%;
    height: 100%;
    padding: var(--block-main-preview-padding);

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    border-radius: inherit;
    background: var(--app-dark);
}

/*title h1*/
.EscrowHistory .inner h1{
    margin: .25em 0 .5em;
    font-weight: 700;
}
