.NavbarEscrow{
    width: 100%;
    height: auto;
    margin-bottom: 2em;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.NavbarEscrow .left,
.NavbarEscrow .right,
.NavbarEscrow .left .links-container{
    display: flex;
    align-items: center;
}
.NavbarEscrow .left .links-container{
    margin-left: 1em;
}

/*logo*/
.NavbarEscrow .left .logo{
    height: var(--logo-height);
    transition: .25s;
}
.NavbarEscrow .left .logo:hover{
    opacity: .5;
}

/*links*/
.NavbarEscrow .left .links-container a{
    margin: 0 2em;
    color: var(--app-light-gray);
    text-decoration: none;
    transition: .25s;
}
.NavbarEscrow .left .links-container a:hover{
    color: var(--bs-white);
}

/*button default*/
.NavbarEscrow .right button.btn-border-gradient {
}

/*button user*/
.NavbarEscrow .right button.user {
    width: 200px;
    padding: .55em 1.25em;

    display: flex;
    align-items: center;

    border-radius: 50px;
    border: none;
    background: var(--app-dark-second);
    color: var(--bs-white);
    transition: .15s;
}
.NavbarEscrow .right button.user:hover{
    background: var(--app-chat-border);
}
.NavbarEscrow .right button.user img{
    width: 26px;
    height: 26px;
    margin-right: .75em;

    border-radius: 50%;
}
.NavbarEscrow .right button.user p{
    margin: 0;

    line-height: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
