.EscrowCancelInner{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

/*text*/
.EscrowCancelInner .text-container{
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.EscrowCancelInner h2{
    margin-bottom: .4em;
    font-weight: 700;
}

.EscrowCancelInner h5{
    font-weight: 500;
    max-width: max-content;
    background: var(--app-primary-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/*btn*/
.EscrowCancelInner button{
    margin-bottom: 1em;
    padding: 1em 4em;
}
