.LandingInnerLayout {
    min-height: 100vh;

    background: var(--app-dark);
}

.LandingInnerLayout .NavbarTop{
    position: relative;
}

/*content*/
.LandingInnerLayout .container.content{
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

/*header*/
.LandingInnerLayout .container.content header{
    max-width: 60%;
    margin-bottom: 4em;
    color: var(--bs-white);
}
.LandingInnerLayout .container.content header p{
    margin-bottom: 1.5em;
    font-weight: 300;
}
.LandingInnerLayout .container.content header h1{
    margin-bottom: .3em;
    font-weight: 400;
}
.LandingInnerLayout .container.content header h5{
    color: var(--app-light-gray);
    font-weight: 300;
    line-height: 1.4;
}
