.SelectWallet p.small{
    margin-bottom: 20px;
    color: var(--app-light-gray);
    font-weight: 300;
    line-height: 20px;
}

/*container*/
.SelectWallet .select-container{
    width: 100%;
    height: auto;

    display: flex;
    flex-wrap: wrap;
}
