.SelectWallet p.small{
    margin-bottom: 20px;
    color: var(--app-light-gray);
    font-weight: 300;
    line-height: 20px;
}

/*container*/
.SelectWallet .select-container{
    width: 100%;
    height: auto;

    display: flex;
    flex-wrap: wrap;
}

/*block*/
.SelectWallet .select-container .overlay-block{
    width: 33.3333%;
    cursor: not-allowed;
}
.SelectWallet .select-container button{
    width: 33.3333%;
    aspect-ratio: 1;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background: none;
    border: none;
    border-radius: 5px;
    transition: .15s;
}
.SelectWallet .select-container button:disabled{
    width: 100%;
}
.SelectWallet .select-container button:hover{
    background: #161B21;
}
.SelectWallet .select-container button:disabled:hover{
    background: none;
    cursor: not-allowed;
}
.SelectWallet .select-container button img{
    width: 35%;
    margin-bottom: 10px;
    aspect-ratio: 1;
}
.SelectWallet .select-container button p.small{
    margin: 0;
}
